<%= bootstrap_form_with(model: consultant, local: true) do |form| %>
  <% if consultant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultant.errors.count, "error") %> prohibited this consultant from being saved:</h2>

      <ul>
        <% consultant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.text_area :clients, value: consultant.client_names, readonly: true %>
  </div>

  <div class="field">
    <%= form.text_field :fee %>
  </div>

  <div class="field">
    <%= form.hidden_field :talents, label: "Talents" %>
  </div>

  <div class="field">
    <%= react_component("TalentMatrix", { 
      mode: 'form', 
      talent_input_id: 'consultant_talents', 
      selected: consultant&.talents, 
      context: 'new-constultant' }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
